!!!  
%html  
  %head  
    %title Services
  %body  
    %p  
      %a(href="/fastleger") JSON-tjeneste for å hente alle fastleger.
      %a(href="/fastleger/search/Oslo") JSON-Fritekstsøk på navn, praksisnavn og poststed
